.wrap-burger {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.burger {
   position: relative;
   width: 30px;
   height: 27px;
   cursor:pointer;

 }
 /* .burger:hover{
   background-color:#00372e;
 } */
 .svg-burger {
   position: absolute;
   top: 0;
   left: 0;
 }
 .svg-burger.toggle{
   opacity: 1;
   transition: all aese 0.3s;
   -webkit-transition: all aese 0.3s;
   -moz-transition: all aese 0.3s;
   -ms-transition: all aese 0.3s;
   -o-transition: all aese 0.3s;
 }
 .svg-burger{
   opacity: 0;
   transition: all aese 0.3s;
   -webkit-transition: all aese 0.3s;
   -moz-transition: all aese 0.3s;
   -ms-transition: all aese 0.3s;
   -o-transition: all aese 0.3s;
 }
 .svg-cross.toggle{
   opacity: 0;
   transition: all aese 0.3s;
   -webkit-transition: all aese 0.3s;
   -moz-transition: all aese 0.3s;
   -ms-transition: all aese 0.3s;
   -o-transition: all aese 0.3s;
 }
 .svg-cross{
   opacity: 1;
   transition: all aese 0.3s;
   -webkit-transition: all aese 0.3s;
   -moz-transition: all aese 0.3s;
   -ms-transition: all aese 0.3s;
   -o-transition: all aese 0.3s;
 }