*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root{
   --color-teal:#004d40;
   --color-ccc:#ccc;
   --fz-1:1rem; --p-1:1rem;
   --fz-2:2rem; --p-2:2rem;
   --fz-3:3rem; --p-3:3rem;
   --fz-4:4rem; --p-4:4rem;
}
html,body{
   width: 100%;
   min-height: 100vh;
   font-size: 62.5%;
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--color-teal);
   color: var(--color-ccc);
}
h1,h2,h3,h4,h5,h6{
   text-align: center;
   line-height: 100%;
}
.header{
   padding: var(--p-2) 0;
   border-bottom: 2px solid var(--color-ccc);
}
.nav{
   position: relative;
}
.title{
   font-size: var(--fz-3);
}
.container{
   max-width: 1470px;
   padding: 0 var(--p-2);
   margin: 0 auto;
}